<div [ngClass]="{ container:true, 'visible':showForm, invisible:!showForm }">
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="tweetTextArea">Tweet:</label>
      <textarea class="form-control" [(ngModel)]="tweetText" id="tweetTextArea" rows="4" name="tweetText"></textarea>
    </div>
    <div class="col-sm form-group">
      <ngb-datepicker #dp [(ngModel)]="selectedDate" [minDate]="minDate" name='dp'></ngb-datepicker>
    </div>
    <div class="col-sm form-group">
        <ngb-timepicker class="pull-right" #tp [(ngModel)]="selectedTime" name='tp'></ngb-timepicker>
      </div>
  </div>
  <div class="row">
    <div class="col-sm btn-group btn-group-toggle btn-block">
      <label class="btn-primary btn-block" ngbButtonLabel>
        <input type="checkbox" ngbButton (click)="onScheduleTweet()"> Schedule Tweet
      </label>
    </div>
  </div>
</div>