<div [ngClass]="{ container:true, 'visible':showForm, invisible:!showForm }">
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="tweetTextArea">Tweet:</label>
      <textarea class="form-control" [(ngModel)]="tweetText" id="tweetTextArea" rows="4" name="tweetText" (ngModelChange)="validate()"></textarea>
    </div>
    <div class="col-sm form-group">
      <ngb-datepicker #dp [(ngModel)]="selectedDate" (ngModelChange)="validate()" [minDate]="minDate" name='dp'></ngb-datepicker>
    </div>
    <div class="col-sm form-group">
      <ngb-timepicker class="pull-right" #tp [(ngModel)]="selectedTime" (ngModelChange)="validate()" name='tp'></ngb-timepicker>
    </div>
  </div>
  <div [ngClass]="{'text-danger':true, visible:invalidScheduledTime, invisible:!invalidScheduledTime}">
    <label>Select a valid date and time and enter a tweet</label>
  </div>
  <div class="row">
    <div class="col-sm btn-group btn-group-toggle btn-block">
      <label [ngClass]="{'btn-primary':true, 'btn-block':true, disabled:invalidScheduledTime}" ngbButtonLabel>
        <input type="checkbox" [disabled]="invalidScheduledTime" [ngClass]="{disabled:invalidScheduledTime}" ngbButton (click)="onScheduleTweet()"> Schedule Tweet
      </label>
    </div>
  </div>
  <div class="row justify-content-center">
      <div [ngClass]={show:tweetScheduled} class="zeroOpacity" >
        <h3>
          Tweet Scheduled!
        </h3>
      </div>
    </div>
</div>